[submodule "pyside6-webusb"]
	path = pyside6-webusb
	url = https://github.com/steck0714/Pyside6-webusb.git

[submodule "fox-webusb"]
	path = fox-webusb
	url = https://github.com/steck0714/fox-webusb.git
